/* personalizar a barra em geral, aqui estou definindo 10px de largura para a barra vertical
e 10px de altura para a barra horizontal */
::-webkit-scrollbar {
    width:10px;
    height: 10px;
    }
     
    /* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
    ::-webkit-scrollbar-track {
    background:#333;
    }
     
    /* aqui é a alça da barra, que demonstra a altura que você está na página
    estou colocando uma cor azul clara nela*/
    ::-webkit-scrollbar-thumb {
    background: #61157c;
    }
  
    .section-bg {
        background: #61157c;
    }

    #progress {
        background-color: #61157c;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: 1px solid var(--border-two);
        border-radius: 5px;
        position: fixed;
        right: 20px;
        z-index: 9999;
        display: none;
        transition: all 0.3s;
        bottom: 20px;
    }

    .bg-load {
        background: #61157c;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        z-index: 9999999;
    }


    .cmn--btn {
        border-radius: 10px;
        padding: 14px 29px 15px;
        font-size: 18px;
        font-weight: 600;
        line-height: 23.4px;
        display: inline-block;
        color: var(--white-color);
        text-transform: capitalize;
        transition: all 0.3s;
        background: #61157c;
        border: 1px solid #61157c;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }

    
    .cmn--border {
        border-radius: 10px;
        padding: 12px 30px 13px;
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
        color: #61157c;
        text-transform: capitalize;
        border: 1px solid #61157c;
        transition: all 0.8s;
        background: transparent;
        position: relative;
        z-index: 1;
    }

