body {
    height: 100vh;
    background-color: #121212;
}



.bg-dark {
    background-color: #61157c!important;
}

.btn-group-sm>.btn, .btn-sm {
    padding: 0.25rem 1.5rem;
    font-size: .875rem;
}

.btn-primary {
    color: #fff;
    background-color: #9c2da0;
    border-color: #9c2da0;
}

.btn-primary:hover {
    color: #fff;
    background-color: #c73081;
    border-color: #c73081;
}