body {
    height: 100vh;
}

.bg-dark {
    background-color: #8c60c4!important;
}

.btn-group-sm>.btn, .btn-sm {
    padding: 0.25rem 1.5rem;
    font-size: .875rem;
}

.btn-primary {
    color: #fff;
    background-color: #9c2da0;
    border-color: #9c2da0;
}